@media screen and (max-width: 600px) {
  .hamburger-menu {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    right: 0;
    top: 0;
    padding: 10px;

    .bar-1,
    .bar-2,
    .bar-3 {
      width: 35px;
      height: 5px;
      background-color: $darkgrey;
      margin: 6px 0;
      transition: 0.4s;
    }

    .change.bar-1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change.bar-2 {
      opacity: 0;
    }

    .change.bar-3 {
      -webkit-transform: rotate(45deg) translate(-9px, -8px);
      transform: rotate(45deg) translate(-9px, -8px);
    }
  }
}